.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 80px;
    background: #f9fafb;
}

/* Each item */
.stat {
    text-align: center;
}

/* Number */
.stat h2 {
    font-size: 28px;
    color: #5a67d8;
    margin-bottom: 5px;
}

/* Text */
.stat p {
    font-size: 14px;
    color: #555;
}
